#profile
  - if @twitter_profile.url
    %h1
      = image_tag @twitter_profile.profile_image_url
      = link_to @twitter_profile.name, @twitter_profile.url
  - else
    %h1 @twitter_profile.name
  #twitpics
    %h2 Pictures from ze Webs
    - @social_images.each do |pic|
      = pic.html_safe
